.main-header {
        font-size: 2.0rem;
        color: rgb(0,60,20);
        text-align: center;
        font-weight: bold;
        padding: 1rem;
        background: linear-gradient(90deg,#b9d616 0%, #228B22 100%);
        border-radius: 10px;
        margin-bottom: 2rem;
    }
    .info-box {
        background-color: #f0f8ff;
        padding: 1rem;
        border-radius: 8px;
        border-left: 4px solid #228B22;
        margin: 1rem 0;
    }
    .stButton>button {
        width: 100%;
        background-color: rgb(0,60,20);
        /*background: linear-gradient(90deg,#b9d616 0%, #228B22 100%);*/
        color:  white;
        font-weight: bold;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        margin-bottom: 4px;     
            }
    .stButton>button:hover {
            background: linear-gradient(90deg,#899c19 0%, #228B22 100%); /* New color on hover (blue) */
    }        
    .total-box {
        background-color: #073603;
        color: white;
        padding: 1.5rem;
        border-radius: 10px;
        text-align: center;
        font-size: 2.0rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .total-rev {
        background-color: transparent;
        color: forestgreen;
        padding: 0.2rem;
        border-radius: 10px;
        border-color: rgb(176, 214, 7);
        border: 3px;
        text-align: center;
        font-size: 2.0rem;
        font-weight: bold;
        box-shadow: 0px 0px 50px rgba(0,205,0,0.3);
        border-spacing: 10px;

    }
    .login-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 2rem;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    }
    .st-key-login-box{
        background: white;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .stForm.form{
        background: white;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
    .login-header {
        text-align: center;
        color: #228B22;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .login-subheader {
        text-align: center;
        color: #666;
        margin-bottom: 2rem;
    }